.Look {
    background-color: rgba(255, 255, 255, 0);
    //backdrop-filter: blur(20px);
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    //height: 90vh;
    padding-top: 66px;
}
.back {
    padding-top: 66px;
    width: 100%;
    position: fixed;
    height: 90vh;
    position: fixed;
    z-index: -1;
    background-image: url("../../img/marvel-vs-dc.jpg");
    background-repeat: no-repeat;
    filter: blur(4px);
    background-size: 100% 100%;
  }