.logo {
    position: fixed;
    z-index: 1;
    height: 56px;
  width: 215px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  .photo {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
  }
}